$asset-font-roboto-400-normal: var(--asset-font-roboto-400-normal);
$asset-font-roboto-400-italic: var(--asset-font-roboto-400-italic);
$asset-font-roboto-700-normal: var(--asset-font-roboto-700-normal);
$asset-font-roboto-700-italic: var(--asset-font-roboto-700-italic);
$cv-bg-popup: var(--cv-bg-popup);
$cv-border-radius: var(--cv-border-radius);
$cv-border: var(--cv-border);
$cv-button-color: var(--cv-button-color);
$cv-button-radius: var(--cv-button-radius);
$cv-typography-font-family: var(--cv-typography-font-family);
$cv-typography-font-weight: var(--cv-typography-font-weight);
$cv-typography-font-size: var(--cv-typography-font-size);
$cv-typography-line-height: var(--cv-typography-line-height);
$cv-bg-input: var(--cv-bg-input);
$cv-text-color: var(--cv-text-color);
$vk-bg-popup: var(--vk-bg-popup);
$vk-border-radius: var(--vk-border-radius);
$vk-border: var(--vk-border);
$vk-button-color: var(--vk-button-color);
$vk-button-radius: var(--vk-button-radius);
$vk-typography-font-size: var(--vk-typography-font-size);
$vk-typography-line-height: var(--vk-typography-line-height);
$vk-typography-font-family: var(--vk-typography-font-family);
$vk-typography-font-weight: var(--vk-typography-font-weight);
$vk-bg-input: var(--vk-bg-input);
$vk-text-color: var(--vk-text-color);
